@import url(https://fonts.googleapis.com/css?family=Manrope);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope";
}
.container {
  width: 80%;
  margin: 0 auto;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}
.right-section {
  display: flex;
  align-items: center;
}
.right-section ul {
  list-style: none;
  display: flex;
}

.right-section ul li {
  margin-right: 20px;
}

.road-assistance {
  display: flex;
  padding-left: 20px;
}

.road-assistance .icon {
  margin-right: 10px;
}

.right-section ul li a {
  text-decoration: none;
  color: black;
}

.right-section .navigation {
  border-right: 2px solid grey;
}
#hero-section .container .flex {
  justify-content: space-between;
}
.flex {
  display: flex;
}
#hero-section .text-section {
  width: 40%;
}
.image-section {
  width: 60%;
  min-height: 60vh;
}
#hero-section,
#quote-section {
  padding: 80px 0;
  min-height: 70vh;
}
.image-section {
  min-height: 68vh;
}
.text-section h1 {
  font-size: 64px;
}
.time-section {
  margin-top: 30px;
  align-items: center;
}
.time-section .image-box {
  width: 5%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-section .time-text {
  width: 95%;
}

.light-grey {
  color: rgba(147, 145, 145, 1);
}

#quote-section {
  background: #e2e6e9;
  min-height: 60vh;
}

#quote-section .left-section,
#quote-section .right-form-section {
  width: 45%;
}
#quote-section .container {
  padding: 50px 0;
}
#quote-section ul {
  list-style: none;
}
#quote-section ul li {
  margin-bottom: 30px;
}
#quote-section .left-section h2 {
  margin-bottom: 40px;
}

#quote-section .left-section .image-box {
  width: 5%;
  margin-right: 10px;
}

#quote-section .left-section .image-box img {
  width: 100%;
}

#quote-section .left-section .text-box {
  width: 50%;
}
.left-section h2 {
  font-size: 58px;
  font-weight: 800;
  line-height: 76px;
}
.text-box h5 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text-box p {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.6;
}
.text-box a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  line-height: 31.5px;
}
#quote-section .right-form-section {
  margin: 0 auto;
}
#quote-section .right-form-section h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 67.2px;
  margin-bottom: 30px;
}
#quote-section .right-form-section input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
  opacity: 0.5;
}
#quote-section .right-form-section input:hover {
  border: 2px solid blue;
}
#process-section {
  padding: 50px;
  min-height: 30vh;
}

.container-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  min-height: 50vh;
  margin: 0 auto;
  padding-bottom: 50px;
}

.process-left {
  width: 40%;
  padding-top: 50px;
}

.left-text h2 {
  font-size: 55px;
  line-height: 76px;
  margin-top: 20%;
}

.left-text p {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.6;
}

.process-right {
  width: 50%;
  padding-top: 80px;
}

.right-3 {
  display: flex;
  margin-top: 20px;
}

.note h3 {
  margin-left: 20px;
  margin-top: 10px;
  font-weight: 700px;
  font-size: 32px;
  line-height: 48px;
}

.note p {
  margin-top: 20px;
  border-left: 2px dashed #ff6433;
  padding-left: 20px;
  width: 400px;
  padding-right: 50px;
  line-height: 25px;
  font-weight: 600;
  opacity: 0.6;
}

#para-3 {
  border: none;
}

.image-box {
  margin-left: 10px;
}

button {
  background: #ff6433;
  border-radius: 12px;
  padding: 13px 30px;
  margin-top: 25px;
  color: white;
  border: 1px solid #ff6433;
  font-size: 18px;
  cursor: pointer;
}
#offer{
  background: rgba(242, 242, 242, 1);
  background-size: cover;
  min-height: 50vh;
}
.container-4 {
  padding: 80px 0;
  width: 80%;
  margin: 0 auto;
}

.top-text {
  text-align: center;
  margin-top: 50px;
}

.top-text h2 {
  font-size: 58px;
  line-height: 76px;
  font-weight: 800;
}

.top-text p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.container-4  .container-box .col-1 {
  background: white;
  height: 232px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 24%;
  margin-bottom: 12px;
}
#offer .container-box {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 15px;
}
#offer .container-box .col-1:hover {
  background: #ff6433;
  color: white;
}
#offer .container-box .col-1 img:hover{
  transform: scale(1.2);
}
.end-note{
  display: flex;
  justify-content: flex-end;
}
.end-note a {
  display: flex;
  color: black;
  text-decoration: none;
  margin-top: 25px;
}

.end-note p {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
}

.end-note img:hover {
  transform: scale(1.1);
}

#cta {
  background: #f2f2f2;
  padding-bottom: 50px;
}

.photo-set {
  display: flex;
  align-items: center;
  width: 100%;
}

.img-1 {
  background: url(https://i.postimg.cc/Pqt0zGL7/car.png);
  background-size: cover;
  height: 60vh;
  width: 25%;
}

.img-2 {
  background: url(https://i.postimg.cc/GtBW8kBh/red-black.png);
  background-size: cover;
  height: 60vh;
  width: 35%;
}

.get-in {
  background: url(https://i.postimg.cc/D0Ty2S2H/BG.png);
  background-size: cover;
  height: 60vh;
  width: 40%;
  background-position: absolute;
  padding: 20px;
}

.get-in p {
  font-size: 45px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  line-height: normal;
  padding-top: 10px;
  padding-left: 20px;
}

.get-in input[type="submit"] {
  background-color: black;
  color: #f2f2f2;
  padding: 12px 20px;
  border-radius: 15px;
  margin-top: 1em;
  font-size: 18px;
  margin-left: 18px;
  border: none;
  cursor: pointer;
}

.experience {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 80px;
}

.experience h3 {
  font-size: 58px;
  font-weight: 800;
  line-height: 76px;
  color: #661ce7;
}

.experience p {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  opacity: 0.7;
}

#first {
  margin-left: 100px;
}

#last {
  margin-right: 100px;
}

.container-5 {
  align-content: center;
  justify-content: center;
  display: flex;
  margin: 50px;
}

.container-5 h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  line-height: 67.2px;
}
#testimonials-section {
  background: #f2f2f2;
  mix-blend-mode: multiply;
  width: 100%;
  min-height: 100vh;
}
#testimonials-section .heading {
  padding: 80px 0;
  width: 80%;
  margin: 0 auto;
}
#testimonials-section .heading h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 67.2px;
  text-align: center;
}
#testimonials-section .container-6 {
  display: flex;
  justify-content: space-between;
}
#testimonials-section .left-section {
  background-color: white;
  box-sizing: border-box;
  background-size: cover;
  border-radius: 6px;
  border: 1px solid rgba(172, 172, 172, 0.29);
  height: 45vh;
  padding: 20px;
  width: 40%;
  margin-left: 100px;
}
#testimonials-section .left-section .comment {
  display: flex;
}
.left-section .comment .image-box {
  margin-right: 10px;
}
.left-section .comment .text-box h5 {
  margin-bottom: 1px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.left-section .comment .text-box p {
  font-size: 14px;
  font-weight: 600;
  color: #939191;
}
.left-section .comment-text p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}
#testimonials-section .right-comment-section {
  background-color: white;
  box-sizing: border-box;
  background-size: cover;
  border-radius: 6px;
  border: 1px solid rgba(172, 172, 172, 0.29);
  height: 45vh;
  padding: 20px;
  width: 40%;
  margin-right: 70px;
  margin-left: 120px;
}
#testimonials-section .right-comment-section .comment {
  display: flex;
}
.right-comment-section .comment .image-box {
  margin-right: 10px;
}
.right-comment-section .comment .text-box h5 {
  margin-bottom: 1px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.right-comment-section .comment .text-box p {
  font-size: 14px;
  font-weight: 600;
  color: #939191;
}
.right-comment-section .comment-text p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}
.big-container {
  width: 80%;
  margin: 0 auto;
}
.big-container .ending {
  display: flex;
  align-content: flex-end;
  justify-content: right;
  margin-top: 20px;
}
.big-container .lines {
  text-align: center;
  margin-top: 10px;
  display: none;
}
#faq {
  background: rgba(226, 230, 233, 1);
  min-height: 95vh;
}
#faq .container-7 {
  width: 40%;
  margin: 0 auto;
  padding-bottom: 50px;
}
#faq h1 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 67.2px;
  padding: 50px 80px;
}
#faq .q-1 {
  background: white;
  padding: 50px;
}
#faq .q-2 {
  background: white;
  padding: 30px;
  margin-top: 20px;
}
#faq .q-1 .question {
  display: flex;
  justify-content: space-between;
}
#faq .q-2 .question {
  display: flex;
  justify-content: space-between;
}
.q-1 .para {
  width: 80%;
}
.q-1 .para p {
  color: #939191;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}

#faq h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
#footer {
  width: 100%;
}
#footer .top-container {
  background: black;
  opacity: 0.95;
  width: 100%;
}
#footer .top-container .container-8 {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  width: 70%;
  margin: auto;
}
#footer .container-8 .lt h3 {
  font-size: 72px;
  font-weight: 700;
  line-height: 67.2px;
  color: white;
  margin-bottom: 100px;
  letter-spacing: -0.03em;
}
.container-8 .lt img {
  text-decoration: none;
  width: 50%;
}
.container-8 .rt h5 {
  font-size: 18px;
  line-height: 32px;
  color: white;
  opacity: 0.6;
  margin-bottom: 20px;
}
.container-8 .rt p {
  font-size: 24px;
  color: white;
  line-height: 36px;
  margin-bottom: 50px;
}
#footer .bottom-container {
  background: black;
  display: flex;
  justify-content: space-between;
  min-height: 15vh;
  align-items: center;
}
#footer .bottom-container p {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #939191;
  margin: 0 auto;
}
#footer .bottom-container a {
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  color: white;
  margin-right: 40px;
}
#footer .bottom-container ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
#footer .bottom-container .links {
  margin: 0 auto;
  width: 80%;
}
#footer .bottom-container .icon {
  margin: 0 auto;
}

/* mobile view */
@media (max-width: 426px) {
  .main-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .right-section .navigation {
    border: none;
    width: 100%;
  }
  .right-section .navigation ul {
    flex-direction: column;
  }
  .right-section .navigation ul li {
    padding: 10px;
    margin-right: 0px;
  }
  .right-section .navigation ul a {
    display: block;
  }
  .right-section {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: none;
  }
  .road-assistance {
    padding: 10px 0;
  }
  #hero-section .text-section,
  #hero-section .image-section {
    width: 100%;
  }
  #hero-section {
    padding: 0;
  }
  #hero-section .image-section {
    order: 1;
    min-height: 30vh;
  }
  #hero-section .image-section img {
    align-items: baseline;
    width: 100%;
  }
  #hero-section .text-section {
    order: 2;
    align-items: baseline;
  }
  .flex {
    flex-direction: column;
  }
  .text-section h1 {
    font-size: 35px;
  }
  #hero-section .time-section {
    flex-direction: row;
    margin-bottom: 10px;
  }
  #hero-section .time-section .time-text {
    margin-left: 5px;
  }
  #quote-section .left-section {
    width: 100%;
  }
  #quote-section {
    padding: 0px;
  }
  #quote-section .container {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  #quote-section .left-section h2 {
    font-size: 25px;
    line-height: normal;
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .left-section .flex {
    flex-direction: row;
  }
  #quote-section .flex .image-box {
    width: 10%;
  }
  #quote-section .left-section .text-box {
    width: 100%;
  }
  #quote-section .left-section .text-box h5 {
    margin-bottom: 5px;
    font-size: 14px;
  }
  #quote-section .left-section .text-box p {
    font-size: 12px;
  }
  #quote-section ul li {
    margin-bottom: 10px;
  }
  #quote-section .left-section .text-box a {
    font-size: 13px;
    line-height: normal;
  }
  #quote-section .left-section .text-box img {
    width: 10%;
  }
  #quote-section .right-form-section {
    margin: 0;
    width: 100%;
  }
  #quote-section .right-form-section h3 {
    font-size: 25px;
    line-height: normal;
    margin-bottom: 10px;
  }
  #quote-section .right-form-section input {
    padding: 5px;
  }
  #quote-section .right-form-section button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
  }
  #process-section {
    padding: 0;
    margin: 0;
  }
  #process-section .process-right .note {
    width: 80%;
  }
  #process-section .process-right .note p {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 7px;
  }
  #process-section .right-3 {
    margin-top: 0;
  }
  .container-3 {
    flex-direction: column;
    padding-bottom: 20px;
    width: 80%;
  }
  #process-section .process-left {
    padding: 0;
    width: 100%;
  }
  #process-section .process-left h2 {
    margin-top: 10px;
    font-size: 25px;
    line-height: normal;
  }
  #process-section .process-left button {
    padding: 5px;
    margin-top: 5px;
    font-size: 15px;
  }
  #process-section .process-right {
    padding-top: 10px;
    width: 100%;
  }
  #process-section .process-right .image-box {
    margin-left: 0;
    padding-top: 8px;
  }
  #process-section .process-right .image-box img {
    width: 50px;
  }
  #process-section .process-right .note h3 {
    margin-top: 0;
    font-size: 14px;
  }
  #process-section .process-right .note p {
    margin-top: 0;
    font-size: 11px;
    border: none;
  }
  #offer {
    min-height: 70vh;
  }
  #offer .container-4 {
    padding: 0;
  }
  #offer .container-4 img {
    width: 100%;
  }
  #offer .container-box {
    display: flex;
    padding-bottom: 0;
    width: 100%;
    flex-direction: row;
  }
  #offer .container-box .col-1{
    width: 48%;
  }
  #offer .container-box .col-1 #wheel img{
    background: black;
    opacity: 0.5;
  }
  
  #offer .container-4 .top-text {
    margin-top: 10px;
    padding-top: 10px;
  }
  #offer .container-4 .top-text h2 {
    font-size: 30px;
    line-height: normal;
  }
  #offer .container-4 .end-note{
    width: 100%;
  }
  #offer .container-4 .end-note a{
    margin: 0;
  }
  #offer .container-4 .end-note p{
    font-size: 12px;
    line-height: normal;
    margin: 0;
    width: 70%;
  }
  #offer .container-4 .end-note img{
    width: 30%;
  }
  #cta .photo-set {
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }
  #cta .get-in{
    height: 50vh;
    padding: 10px;
  }
  #cta .get-in p {
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: normal;
    font-size: 25px;
    padding-bottom: 0;
  }
  #cta {
    width: 100%;
    padding-bottom: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
  #cta .experience {
    display: flex;
    justify-content: space-between;
  }
  #cta .experience #first {
    margin: 0 auto;
  }
  #cta .experience .box {
    margin: 0 auto;
  }
  #cta .experience h3 {
    font-size: 20px;
    text-align: center;
    line-height: normal;
  }
  #cta .experience p {
    font-size: 12px;
    line-height: normal;
    margin: 0;
    text-align: center;
  }
  #cta .experience {
    margin: 10px;
  }
  .photo-set .img-1,
  .photo-set .img-2,
  .photo-set .get-in {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }
  #cta .photo-set .get-in input {
    padding: 10px;
    margin-left: 2px;
    padding: 5px;
    font-size: 14px;
  }
  #brands {
    min-height: 10vh;
    width: 100%;
  }
  #brands .container-5 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #brands .container-5 h2 {
    font-size: 27px;
    margin: 0;
    line-height: normal;
  }
  #brands .container-5 img {
    width: 100%;
  }
  #brands .container-5 .brand-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
  }
  #testimonials-section {
    min-height: 70vh;
    width: 100%;
  }
  #testimonials-section .heading h2 {
    font-size: 20px;
    line-height: normal;
    text-align: center;
  }
  #testimonials-section .heading {
    padding: 10px;
    margin: 0 auto;
  }
  #testimonials-section .container-6 {
    flex-direction: column;
  }
  #testimonials-section .container-6 h5 {
    font-size: 12px;
    line-height: normal;
  }
  #testimonials-section .container-6 .text-box p {
    font-size: 8px;
  }
  #testimonials-section .container-6 .left-section {
    padding: 0;
    padding-top: 5px;
    margin: 0;
    height: 27vh;
    width: 100%;
    margin-bottom: 10px;
  }
  .container-6 .left-section .comment-text p {
    font-size: 8px;
    margin: 0 10px 5px 10px;
  }
  .container-6 .left-section .comment .image-box,
  .container-6 .right-comment-section .comment .image-box {
    width: 5%;
  }
  .container-6 .right-comment-section .comment .image-box img,
  .container-6 .left-section .comment .image-box img {
    width: 100%;
  }
  #testimonials-section .container-6 .right-comment-section {
    padding: 0;
    padding-top: 5px;
    margin: 0;
    height: 27vh;
    width: 100%;
  }
  .container-6 .left-section .comment .image-box,
  .container-6 .right-comment-section .comment .image-box {
    margin-right: 5px;
  }
  .container-6 .right-comment-section .comment-text p {
    font-size: 8px;
    margin: 0 10px 5px 10px;
  }
  #testimonials-section .lines {
    display: none;
  }
  #testimonials-section .ending {
    margin: 0;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  #testimonials-section .ending img {
    width: 50%;
    justify-content: end;
  }
  #faq h1 {
    font-size: 28px;
    line-height: normal;
    padding: 10px;
  }
  #faq .container-7 {
    width: 90%;
  }
  #faq .container-7 .q-1 {
    padding: 10px;
    padding-right: 0;
  }
  #faq .container-7 .q-1 h3 {
    font-size: 15px;
  }
  #faq .container-7 .q-1 p {
    font-size: 10px;
    line-height: normal;
  }
  #faq .container-7 .q-1 .question img {
    width: 60%;
  }
  #faq .container-7 .q-2 {
    padding: 10px;
    padding-right: 0;
  }
  #faq .container-7 .q-2 h3 {
    font-size: 15px;
    line-height: normal;
  }
  #faq .container-7 .q-2 .question img {
    width: 60%;
  }
  #footer .top-container {
    opacity: 0.9;
  }
  #footer .top-container .container-8 {
    flex-direction: column;
    width: 100%;
  }
  #footer .top-container .container-8 {
    padding: 40px;
  }
  #footer .top-container .container-8 h3 {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 30px;
  }
  #footer .top-container .container-8 img {
    padding-bottom: 10px;
  }
  #footer .top-container .container-8 .rt p {
    margin: 0;
    font-size: 16px;
  }
  #footer .top-container .container-8 .rt h5 {
    margin: 0;
  }
  #footer .bottom-container {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
  }
  #footer .bottom-container .links ul a {
    font-size: 10px;
    line-height: normal;
  }
  #footer .bottom-container .links {
    width: 100%;
  }
  #footer .bottom-container .links ul {
    justify-content: center;
    align-items: center;
  }
  #footer .bottom-container p {
    font-size: 11px;
  }
}

/* tablet view */
@media (min-width: 520px) and (max-width: 769px) {
  .container {
    width: 90%;
  }
  .road-assistance {
    display: none;
  }
  .main-header .right-section .navigation {
    border: none;
  }
  .text-section h1 {
    font-size: 35px;
  }
  .text-section button {
    font-size: 16px;
  }
  .text-section .time-section .image-box {
    margin-bottom: 20px;
  }
  .text-section .time-section .time-text {
    padding-left: 10px;
  }
  #hero-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #hero-section .container .image-section {
    width: 60%;
  }
  #hero-section .container .image-section img {
    width: 100%;
  }
  #quote-section {
    padding: 0;
  }
  #quote-section .left-section h2,
  #quote-section .right-form-section h3 {
    font-size: 40px;
    line-height: normal;
  }
  #quote-section .left-section .image-box {
    width: 10%;
  }
  #quote-section .left-section .text-box h5 {
    font-size: 20px;
  }
  #process-section,
  #process-section .process-left,
  #process-section .process-right {
    padding: 0;
  }
  #process-section .process-left {
    width: 40%;
  }
  #process-section .process-left h2 {
    font-size: 40px;
    line-height: normal;
  }

  #process-section .process-right {
    width: 60%;
  }
  #process-section .process-right .image-box {
    width: 50%;
  }
  #process-section .process-right .image-box img {
    width: 50px;
  }
  #process-section .process-right .right-3 {
    width: 100%;
  }
  #process-section .process-right .right-3 h3 {
    font-size: 28px;
    line-height: normal;
  }
  #process-section .process-right .right-3 p {
    margin-top: 10px;
    border: none;
  }
  #process-section .process-right .right-3 .note p {
    width: 100%;
    padding-right: 0;
  }
  #offer .container-4 .container-box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #offer .container-4{
    padding-bottom: 30px;
  }
  #offer .container-4 .top-text{
    margin: 0;
  }
  #offer .container-4 .container-box .col-1{
    width: 24%;
  }
  #offer .container-box .col-1 #wheel img{
    background: black;
    opacity: 0.5;
  }
  #offer .container-4 .end-note {
    margin: 0 auto;
    justify-content: flex-end;
  }
  #offer .container-4 #end-note img {
    padding-right: 50px;
  }
  #offer .container-4 #end-note p {
    line-height: normal;
  }
  #cta{
    padding-bottom: 20px;
  }
  #cta .experience {
    margin: 0 auto;
    width: 80%;
  }
  #cta .photo-set .get-in p {
    font-size: 18px;
    margin: 0;
    line-height: normal;
  }
  #cta .photo-set .get-in input {
    padding: 5px;
    margin-top: 20px;
    font-size: 12px;
  }
  #cta .experience #first {
    margin: 0;
  }
  #cta .experience h3 {
    font-size: 30px;
    line-height: normal;
  }
  #cta .experience p {
    font-size: 10px;
    line-height: normal;
  }
  #brands .container-5 {
    width: 100%;
    margin: 0 auto;
  }
  #brands .container-5 .logo {
    margin: 0 auto;
    width: 100%;
  }
  #brands .container-5 .logo h2 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: normal;
  }
  #brands .container-5 .logo .brand-row {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  #brands .container-5 .logo .brand-row img {
    width: 90%;
  }
  #testimonials-section .big-container .container-6 {
    width: 100%;
  }
  #testimonials-section .big-container .container-6 .left-section,
  #testimonials-section .big-container .container-6 .right-comment-section {
    min-height: 70vh;
    padding: 10px;
    width: 90%;
    margin: 0;
  }
  #testimonials-section .big-container .container-6 .left-section {
    margin-left: 0;
    margin-right: 10px;
  }
  #testimonials-section .big-container .container-6 .right-comment-section {
    margin-left: 10px;
  }
  #testimonials-section .big-container .lines {
    display: none;
  }

  #testimonials-section
    .big-container
    .container-6
    .left-section
    .comment
    .image-box,
  #testimonials-section
    .big-container
    .container-6
    .right-comment-section
    .comment
    .image-box {
    width: 18%;
  }
  #testimonials-section
    .big-container
    .container-6
    .right-comment-section
    .comment
    .image-box {
    width: 18%;
  }
  #testimonials-section .container-6 .right-comment-section .comment-text {
    width: 100%;
  }
  #testimonials-section .container-6 .right-comment-section .comment-text p {
    width: 100%;
    font-size: 14px;
    line-height: normal;
  }

  #testimonials-section
    .big-container
    .container-6
    .left-section
    .comment
    .image-box
    img,
  #testimonials-section
    .big-container
    .container-6
    .right-comment-section
    .comment
    .image-box
    img {
    width: 100%;
  }
  #testimonials-section .big-container .container-6 .left-section .comment,
  #testimonials-section
    .big-container
    .container-6
    .right-comment-section
    .comment {
    width: 100%;
  }
  #testimonials-section
    .big-container
    .container-6
    .left-section
    .comment-text {
    width: 100%;
  }

  #testimonials-section
    .big-container
    .container-6
    .left-section
    .comment-text
    p {
    width: 100%;
    font-size: 14px;
    line-height: normal;
  }

  #testimonials-section .big-container .heading {
    padding: 20px 30px;
  }
  #testimonials-section .big-container .heading h2 {
    font-size: 35px;
    line-height: normal;
  }
  #testimonials-section .big-container .ending {
    margin-right: 0;
  }
  #testimonials-section .big-container .ending img {
    width: 60%;
  }
  #faq h1 {
    padding: 30px;
  }
  #faq .container-7 {
    margin: 0 auto;
    width: 80%;
  }
  #faq .container-7 .q-1,
  #faq .container-7 .q-2 {
    padding: 20px;
  }
  #faq .container-7 .q-1 .para,
  #faq .container-7 .q-1 .para p {
    width: 95%;
  }
  #footer .top-container {
    opacity: 0.9;
  }
  #footer .top-container .container-8 {
    flex-direction: row;
    width: 100%;
  }
  #footer .top-container .container-8 {
    padding: 40px;
  }
  #footer .top-container .container-8 h3 {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 30px;
  }
  #footer .top-container .container-8 img {
    padding-bottom: 10px;
  }
  #footer .top-container .container-8 .rt p {
    margin: 0;
    font-size: 16px;
  }
  #footer .top-container .container-8 .rt h5 {
    margin: 0;
  }
  #footer .bottom-container {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
  }
  #footer .bottom-container .links ul a {
    font-size: 16px;
    line-height: normal;
  }
  #footer .bottom-container .links {
    width: 100%;
    padding: 10px 10px;
  }
  #footer .bottom-container p {
    font-size: 12px;
  }
}
